<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Restaurant Apps Starter Project</title>
</head>
<body>
    <header>
        <h1>
            Restaurant App
        </h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Favorite</a></li>
            <li><a href="https://github.com/RulyAnggriawan" title="github">About Us</a></li>
        </ul>
    </nav>
    <div class="jumbotron">
        <h2>Lorem, ipsum dolor.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint cumque nam voluptates obcaecati. Natus reprehenderit voluptatum nobis vel qui explicabo?</p>
    </div>

    <main>
        <h2>Explore Restaurants</h2>
        <section id="restaurant-list">

        </section>
    </main>
    <footer>
        <p>by : Ruly Anggriawan - 2020</p>
    </footer>

</body>
</html>
