<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Restaurant Apps</title>
</head>
<body>
    <a href="#main-content" class="skip-link">Skip to Content</a>
    <header>
        
        <p>
            <img src="./images/logo.jpeg" alt="logo restaurant app">

        </p>
        <nav id="drawer" class="hidden">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Favorite</a></li>
                <li><a href="https://github.com/RulyAnggriawan" title="github">About Us</a></li>
            </ul>
        </nav>
        <a href="#" id="hamburger" >&#9776;</a>
    </header>
    
    <div class="jumbotron">
        <h1>Restaurant App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint cumque nam voluptates obcaecati. Natus reprehenderit voluptatum nobis vel qui explicabo?</p>
    </div>

    <main id="main-content">
        <h2>Explore Restaurants</h2>
        <section id="restaurant-list">

        </section>
    </main>
    <footer>
        <p>by : Ruly Anggriawan - 2020</p>
    </footer>

</body>
</html>
