*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

.jumbotron{
    width: 100%;
    min-height: 200px ;
    background-image: url("/images/heros/hero-image_4.jpg");
}

